.timeline {
    position: relative;
    max-width: 800px;
    margin: 100px auto 100px auto;
  }
  
  .timeline .container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
  }
  
  @keyframes movedown {
    0% {
      opacity: 1;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  .timeline .container:nth-child(1) {
    animation-delay: 0s;
  }
  
  .timeline .container:nth-child(2) {
    animation-delay: 1s;
  }
  
  .timeline .container:nth-child(3) {
    animation-delay: 2s;
  }
  
  .timeline .container:nth-child(4) {
    animation-delay: 3s;
  }
  
  .timeline .container:nth-child(5) {
    animation-delay: 4s;
  }
  
  .text-box {
    padding: 10px 25px;
    background: #FAFAFA;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 10px;
    font-size: 15px;
  }
  
  .left-container {
    left: 0;
  }
  
  .right-container {
    left: 62.5%;
  }
  
  .container img {
    position: absolute;
    width: 40px;
    right: -20px;
    top: 32px;
    z-index: 10;
  }
  
  .right-container img {
    left: -20px;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #2f2e41;
    top: 0;
    left: 62.5%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
  }
  
  @keyframes moveline {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }
  
  .text-box h2 {
    font-weight: 600;
    color: #2f2e41;
  }
  
  .text-box small {
    display: inline-block;
  }
  
  .left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #FAFAFA;
    right: -14px;
  }
  
  .right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #FAFAFA;
    left: -15px;
  }
  
  /* Styles pour le bouton "Voir plus" */
  .show-more-btn {
    background-color: #2f2e41;;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .show-more-btn:hover {
    background-color: #575A89;
  }
  
  .show-more-btn svg {
    margin-right: 8px;
  }
  
  /* Styles pour afficher le texte complet */
  .expanded {
    white-space: normal;
  }
  
  @media screen and (max-width:1541px) {

    .timeline {
        margin-left: 280px ;
      }
  }
  @media screen and (max-width:1387px) {

    .timeline {
        margin-left: 160px ;
      }
  }
  @media screen and (max-width:1256px) {

    .timeline {
        margin-left: 100px ;
      }
  }
  @media screen and (max-width:1223px) {

    .timeline {
        margin-left: 50px ;
      }
  }

  @media screen and (max-width:1045px) {

    .timeline {
        width: 700px;
      }
      .left-container img {
       right: -5px;
      }
  }
  @media screen and (max-width:911px) {
    .timeline{
        width: 500px;
        margin: 50px auto;
        margin-top:100px;
    }
    .timeline::after{
        left: 31px;
    }

    .timeline .container{
        width: 100%;
        padding-left:80px;
        padding-right: 25px;
    }

    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container{
        left: 0;
    }
    .left-container img, .right-container img{
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid #FAFAFA;
        border-left: 0;
        left: -15px;
    }
  }

  @media screen and (max-width:750px) {
    .timeline{
        width: 400px;
    }
  }

  @media screen and (max-width:610px) {
    .timeline{
        width: 300px;
    }
  }
  @media screen and (max-width:541px) {
    .timeline{
        width: 290px;
        margin-left: 10px;
    }
  }

  @media screen and (max-width:402px) {
    .timeline{
        width: 250px;
    }
  }
  @media screen and (max-width:362px) {
    .timeline{
        width: 230px;
    }
  }

  @media screen and (max-width:338px) {

    .timeline{
        width: 209px;
    }
 
    .timeline .container {
        padding: 5px 75px;
      }
  }
  @media screen and (max-width:309px) {

    .timeline{
        width: 200px;
    }
 
  }



