input[type="password"] {
    /* Pour certains navigateurs, enlever l'apparence spéciale */
    -webkit-text-security: disc;
  }
  
  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear,
  input[type="password"]::-webkit-credentials-auto-fill-button,
  input[type="password"]::-webkit-clear-button,
  input[type="password"]::-webkit-password-toggle-button {
    display: none;
    appearance: none;
  }
  
.signup-container {
    margin: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
 
}

.signup-card {
    background: #fAFAFA;
    padding: 2.5rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.signup-title {
    font-size: 2rem;
    font-weight: 800;
    color: #0c3998;
    margin-bottom: 1rem;
}

.signup-subtitle {
    font-size: 1rem;
    color: #4b4b4b;
    margin-bottom: 2rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-group {
    position: relative;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #0c3998;
}

.signup-input {
    width: 84%;
    padding: 0.8rem 1rem 0.8rem 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    border: 2px solid #0c3998;
    border-radius: 10px;
    color: #4b4b4b;
    outline: none;
    transition: border-color 0.3s ease;
}

.signup-input:focus {
    border-color: #85bbe6;
    background-color: #f0f8ff;
}





/* Champ de mot de passe avec icône pour afficher/masquer */
.toggle-password {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #0c3998;
    cursor: pointer;
    transition: color 0.3s ease;
}

.toggle-password:hover {
    color: #0856b3;
}

.signup-button {
    background-color: #0c3998;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 0 #0e6cc6;
    transition: background-color 0.3s ease;
}

.signup-button:hover {
    background-color:#85bbe6;
}

.signup-button:active {
    transform: scale(0.97);
}

.signup-footer {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: #4b4b4b;
}

.signup-link {
    color: #0c3998;
    text-decoration: none;
    font-weight: bold;
}

.signup-link:hover {
    text-decoration: underline;
}

/* Boutons en haut à droite */
.top-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.home-button {
    background-color: #f5f7f9; /* Vert pour le bouton Accueil */
    color: #0e6cc6;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.6rem 1rem;
    border: solid 2px #85bbe6;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 0 #0e6cc6;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #85bbe6;
    color: #fff;
}
.home-button:active{
    transform: scale(0.97);
}
.login-button {
    background-color: #0c3998;/* Bleu pour le bouton Connexion */
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.6rem 1rem;
    border: none;
    font-family:  'Poppins', sans-serif;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 0 #0e6cc6;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #85bbe6; /* Bleu plus foncé au survol */
}

.login-button:active{
    transform: scale(0.97);
}


@media screen and (max-width: 610px) {
    .signup-input {
        width: 80%;
    }
  
    .signup-container {
        margin: 70px;
    }
 
  }

  @media screen and (max-width: 530px) {
    .signup-input {
        width: 78%;
    }

    .signup-container {
        margin: 40px;
    }
  
 
  }
  @media screen and (max-width: 376px) {
  

    .signup-container {
        margin: 20px;
    }
  
 
  }
  @media screen and (max-width: 300px) {
  

    .signup-container {
        margin: 10px;
    }
  
 
  }